* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ecf4;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  /*Para centra la página*/
  width: 90%;
  max-width: 1000px;
  height: 100%;
  margin: 20px auto;
  /* GRID */
  display: grid;
  /* Espaciado entre las columnas */
  grid-gap: 20px;
  /* 3 columnas se requieren para la estructura : tres columnas de una fración*/
  grid-template-columns: repeat(3, 1fr);
  /* 4 filas para la estructura */
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer"
  ;
}

/* Accediendo directamente a los div que se encuentran dentro de la clase */
.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.contenedor .header {
  background-color: #12203E;
  color: #fff;
  /* USando grid area */
  grid-area: header;
}

.contenedor .contenido {
  grid-area: contenido;
}

.contenedor .sidebar {
  /* El espacio del side-bar utiliza dos columnas */
  grid-area: sidebar;
  background-color: #faa43d;
  text-align: center;
  /* Uso de flex-box para centrar horizontal y verticalmente el contenido del sidebar */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Tamaño minimo para considerar para responsive */
  min-height: 100px;
  grid-row: span 2;
}

.contenedor .widget-1,
.contenedor .widget-2 {
  background-color: #55a8fd;
  color: #fff;
  height: 100px;
  text-align: center;
  text-align: center;
  /* Uso de flex-box para centrar horizontal y verticalmente el contenido del sidebar */
  display: flex;
  align-items: center;
  justify-content: center;

}

.contenedor .widget-1 {
  grid-area: widget-1;
}

.contenedor .widget-2 {
  grid-area: widget-2;
}


.contenedor .footer {
  background-color: #12203e;
  color: #fff;
  /*  */
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:

      "header header header"
      "contenido contenido sidebar"
      "widget-1 widget-2 sidebar"
      "footer footer footer"
    ;
  }
}

@media (min-width: 576px) {}